#socketIo-rooms-example
socketIo-rooms-example/backend/node_modules/
socketIo-rooms-example/backend/yarn.lock

socketIo-rooms-example/frontend/node_modules/
socketIo-rooms-example/frontend/yarn.lock

#
socketIo-v2.3.0/client/node_modules/
socketIo-v2.3.0/client/yarn.lock

socketIo-v2.3.0/server/node_modules/
socketIo-v2.3.0/server/yarn.lock

socketIo-v4.0.1/client/node_modules/
socketIo-v4.0.1/client/yarn.lock

socketIo-v4.0.1/server/node_modules/
socketIo-v4.0.1/server/yarn.lock